#root {
    max-width: 450px;
    margin: 0 auto;
    background-image: url('./bg-img.png');

}

.bodyWrapper{
    margin: 0 auto;
    padding: 1rem;
}

.todoController {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 420px;
}

.todoInput {
    border: 1px solid lightskyblue;
    border-radius: 25px;
    padding: 0.5rem;
    width: 70%;
}

.addTodo {
    border: 1px solid lightskyblue;
    border-radius: 25px;
    padding: 0.5rem 0.75rem;
    margin-left: 0.5rem;
}

.clearDone {
    border: 1px solid lightskyblue;
    border-radius: 25px;
    padding: 0.5rem 0.75rem;
    margin-left: 0.5rem;
}

.todoReport {
    font-family:Arial, Helvetica, sans-serif;
    padding: 1rem 0;
    color: #333;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    line-height: 1.5rem;
}

ul li input {
    border: 1px solid lightskyblue;
    border-radius: 25px;
}